body {
  text-align: center;
  background-image: url("../assets/images/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: bold;
}

#dollar {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
